<%= form_tag "/form_result", method: :post do %>
  <div>
    <label for="">Enter message: </label>
    <input type="text" name="form_message">
  </div>
  <div>
    <input type="submit" value="Submit Message!">
  </div>
<% end %>
